<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Create')"></head>
<body>
<div id="wrapper">
    <nav th:replace="partials/partials :: nav"></nav>
    <header th:replace="partials/partials :: header('Create a Post')"></header>

    <main class="container">
        <form th:action="@{/posts/create}" th:method="POST">
            <!--            input for title-->
            <input type="text" name="title" placeholder="Title" class="form-control">
            <!--            input for body-->
            <textarea type="text" name="body" placeholder="Body" class="form-control"></textarea>
            <!--            submit button-->
            <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
    </main>

    <footer th:replace="partials/partials :: footer"></footer>
</div>
<th:block th:replace="partials/partials :: scripts"></th:block>
</body>